body {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(93,133,181,0.9220063025210083) 100%);
}

table {
    border-collapse: collapse;
    width: 100%;
}

/* Style table rows */
tr {
    background-color: #f2f2f2;
}



/* Style table cells (td) */
td {
    padding: 8px;
    border: 1px solid #ddd;
}

/* Add hover effect to cells */
td:hover {
    background-color: #8d4ab4;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#number:hover {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#limit:hover {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}





         
button {
    background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 